<table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_7870634565031657159templateContainer" style="border-collapse:collapse;border:0;max-width:600px!important">
    <tbody><tr>
        <td valign="top" id="m_7870634565031657159templatePreheader" style="background:#fafafa none no-repeat center/cover;background-color:#fafafa;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:9px"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_7870634565031657159mcnTextBlock" style="min-width:100%;border-collapse:collapse">
            <tbody class="m_7870634565031657159mcnTextBlockOuter">
            <tr>
                <td valign="top" class="m_7870634565031657159mcnTextBlockInner" style="padding-top:9px">



                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:390px;border-collapse:collapse" width="100%" class="m_7870634565031657159mcnTextContentContainer">
                        <tbody><tr>

                            <td valign="top" class="m_7870634565031657159mcnTextContent" style="padding-top:0;padding-left:18px;padding-bottom:9px;padding-right:18px;word-break:break-word;color:#656565;font-family:Helvetica;font-size:12px;line-height:150%;text-align:left">

                                Gracias por contactarnos en nuestra página&nbsp;<a href="http://www.clinicalacitamedica.com" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=es&amp;q=http://www.clinicalacitamedica.com&amp;source=gmail&amp;ust=1476863103345000&amp;usg=AFQjCNG5_umqNdqvn4DbKkXDL6kAQ-I3AA">www.<wbr>clinicalacitamedica.com</a>
                            </td>
                        </tr>
                        </tbody></table>



                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:210px;border-collapse:collapse" width="100%" class="m_7870634565031657159mcnTextContentContainer">
                        <tbody><tr>

                            <td valign="top" class="m_7870634565031657159mcnTextContent" style="padding-top:0;padding-left:18px;padding-bottom:9px;padding-right:18px;word-break:break-word;color:#656565;font-family:Helvetica;font-size:12px;line-height:150%;text-align:left">

                                <a style="color:#656565;font-weight:normal;text-decoration:underline">View this email in your browser</a>
                            </td>
                        </tr>
                        </tbody></table>



                </td>
            </tr>
            </tbody>
        </table></td>
    </tr>
    <tr>
        <td valign="top" id="m_7870634565031657159templateHeader" style="background:#ffffff none no-repeat center/cover;background-color:#ffffff;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:0"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_7870634565031657159mcnImageBlock" style="min-width:100%;border-collapse:collapse">
            <tbody class="m_7870634565031657159mcnImageBlockOuter">
            <tr>
                <td valign="top" style="padding:9px" class="m_7870634565031657159mcnImageBlockInner">
                    <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="m_7870634565031657159mcnImageContentContainer" style="min-width:100%;border-collapse:collapse">
                        <tbody><tr>
                            <td class="m_7870634565031657159mcnImageContent" valign="top" style="padding-right:9px;padding-left:9px;padding-top:0;padding-bottom:0;text-align:center">


                                <img align="center" alt="" src="https://ci3.googleusercontent.com/proxy/x_YvfBtBpsDXxEQcEVWDn9TAbMNZIXDqfHZNEJpzJ0d1-xKlFGMEE3RtplPMHk9hedznM6O2l_6nviwtqOd55CK-g1RUrbENANa2qQLkwt18xZ-hVowtBE_9e_WThnw-_KsJYsW1TfyZQCKXx46mY5PdI3SLblwfzHHSD3Q=s0-d-e1-ft#https://gallery.mailchimp.com/9db43a565f22b4def90e19e7a/images/ecdd3ca9-903d-4f93-9a34-bfaa913f556c.jpg" width="564" style="max-width:1536px;padding-bottom:0;display:inline!important;vertical-align:bottom;border:0;height:auto;outline:none;text-decoration:none" class="m_7870634565031657159mcnImage CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 675.5px; top: 378.266px;"><div id=":241" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Descargar el archivo adjunto " data-tooltip-class="a1V" data-tooltip="Descargar"><div class="aSK J-J5-Ji aYr"></div></div></div>


                            </td>
                        </tr>
                        </tbody></table>
                </td>
            </tr>
            </tbody>
        </table></td>
    </tr>
    <tr>
        <td valign="top" id="m_7870634565031657159templateBody" style="background:#ffffff none no-repeat center/cover;background-color:#ffffff;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:2px solid #eaeaea;padding-top:0;padding-bottom:9px"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_7870634565031657159mcnTextBlock" style="min-width:100%;border-collapse:collapse">
            <tbody class="m_7870634565031657159mcnTextBlockOuter">
            <tr>
                <td valign="top" class="m_7870634565031657159mcnTextBlockInner" style="padding-top:9px">



                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_7870634565031657159mcnTextContentContainer">
                        <tbody><tr>

                            <td valign="top" class="m_7870634565031657159mcnTextContent" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">

                                <h1 style="display:block;margin:0;padding:0;color:#202020;font-family:Helvetica;font-size:26px;font-style:normal;font-weight:bold;line-height:125%;letter-spacing:normal;text-align:left">Gracias por contactarnos.</h1>

                                <p style="margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">Muchas gracias por contactarnos, enseguida uno de nuestro personal se pondrá en contacto con usted.</p>

                                <p style="margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">&nbsp;</p>

                            </td>
                        </tr>
                        </tbody></table>



                </td>
            </tr>
            </tbody>
        </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_7870634565031657159mcnImageGroupBlock" style="border-collapse:collapse">
            <tbody class="m_7870634565031657159mcnImageGroupBlockOuter">

            <tr>
                <td valign="top" style="padding:9px" class="m_7870634565031657159mcnImageGroupBlockInner">

                    <table align="left" width="273" border="0" cellpadding="0" cellspacing="0" class="m_7870634565031657159mcnImageGroupContentContainer" style="border-collapse:collapse">
                        <tbody><tr>
                            <td class="m_7870634565031657159mcnImageGroupContent" valign="top" style="padding-left:9px;padding-top:0;padding-bottom:0">


                                <img alt="" src="https://ci3.googleusercontent.com/proxy/e7vvKe52nC_zpkITB3tT9OfZmYzXhdQmT5qi1Ae-xYLFNF2mHrtBRJec_ePP1gfod4FtZGPyMPOgn1120tLqCJ5HGS80--Z5Ff8siMuyK5x7HdN7lP3mNwsM44i8nOzmqihuF1yhkUeUuLG81ISPUuIuKgN_VZ5VcffWWMo=s0-d-e1-ft#https://gallery.mailchimp.com/9db43a565f22b4def90e19e7a/images/debcebc6-bae6-40a6-8985-0ecb8d2609ca.jpg" width="264" style="max-width:1170px;padding-bottom:0;border:0;height:auto;outline:none;text-decoration:none;vertical-align:bottom" class="m_7870634565031657159mcnImage CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 375.5px; top: 685.922px;"><div id=":240" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Descargar" role="button" tabindex="0" aria-label="Descargar el archivo adjunto " data-tooltip-class="a1V"><div class="aSK J-J5-Ji aYr"></div></div></div>


                            </td>
                        </tr>
                        </tbody></table>

                    <table align="right" width="273" border="0" cellpadding="0" cellspacing="0" class="m_7870634565031657159mcnImageGroupContentContainer" style="border-collapse:collapse">
                        <tbody><tr>
                            <td class="m_7870634565031657159mcnImageGroupContent" valign="top" style="padding-right:9px;padding-top:0;padding-bottom:0">


                                <img alt="" src="https://ci6.googleusercontent.com/proxy/uRWboE1mKJ_fAa2q8ycIas9oxD4gM_hwncY5nWkGTkmcjQ4sxjaBHv93DHjObu6pocCUAp0RrnREY7k8jnLkd7NnQag41Amxawel64ywrHwyZ-gbY806t89C5R1XzX9tBvRSEM_HGw6t5A0w6ntxY9qnPrlxCzo1UZf_6Z4=s0-d-e1-ft#https://gallery.mailchimp.com/9db43a565f22b4def90e19e7a/images/39dce67d-33d8-465b-b17b-f1f63631864b.jpg" width="264" style="max-width:1170px;padding-bottom:0;border:0;height:auto;outline:none;text-decoration:none;vertical-align:bottom" class="m_7870634565031657159mcnImage CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 675.5px; top: 685.922px;"><div id=":23z" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Descargar" role="button" tabindex="0" aria-label="Descargar el archivo adjunto " data-tooltip-class="a1V"><div class="aSK J-J5-Ji aYr"></div></div></div>


                            </td>
                        </tr>
                        </tbody></table>

                </td>
            </tr>

            <tr>
                <td valign="top" style="padding:9px" class="m_7870634565031657159mcnImageGroupBlockInner">

                    <table align="left" width="273" border="0" cellpadding="0" cellspacing="0" class="m_7870634565031657159mcnImageGroupContentContainer" style="border-collapse:collapse">
                        <tbody><tr>
                            <td class="m_7870634565031657159mcnImageGroupContent" valign="top" style="padding-left:9px;padding-top:0;padding-bottom:0">


                                <img alt="" src="https://ci4.googleusercontent.com/proxy/cF5koq1JlqhnTyVUYktrYRjwJtGBwzpRLcfv7x0xws1PwWzxdAlaorwevgJnToHVe1ipnckyrJcnhcu5X4mUZYq0tVn9kfJ4MKyEXiSczYyOG5YVGjyzPKknakdEJnQTtg2rXr2ko51OOioAtwS7pZKKH4mlwPMtjzwnG2Q=s0-d-e1-ft#https://gallery.mailchimp.com/9db43a565f22b4def90e19e7a/images/48c70211-07de-4874-be96-53bfbded0883.jpg" width="264" style="max-width:1170px;padding-bottom:0;border:0;height:auto;outline:none;text-decoration:none;vertical-align:bottom" class="m_7870634565031657159mcnImage CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 375.5px; top: 841.922px;"><div id=":242" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Descargar" role="button" tabindex="0" aria-label="Descargar el archivo adjunto " data-tooltip-class="a1V"><div class="aSK J-J5-Ji aYr"></div></div></div>


                            </td>
                        </tr>
                        </tbody></table>

                    <table align="right" width="273" border="0" cellpadding="0" cellspacing="0" class="m_7870634565031657159mcnImageGroupContentContainer" style="border-collapse:collapse">
                        <tbody><tr>
                            <td class="m_7870634565031657159mcnImageGroupContent" valign="top" style="padding-right:9px;padding-top:0;padding-bottom:0">


                                <img alt="" src="https://ci3.googleusercontent.com/proxy/i1xITZ96YJjlu-lNlcKBYlpijim2Cv8rYQNynntyUyXHHG0T02CoHiNesYihvw5scm5YbEK5y469izggf3N6h7wrCdwvJYlc2GxbrB96vTYFOzr7yWC-AfGsDuNfRSAhCfSZVVrC_kHqpoJGmdNAfluNERz6xoQFgmEi-zc=s0-d-e1-ft#https://gallery.mailchimp.com/9db43a565f22b4def90e19e7a/images/afa4a2b8-4679-430f-b50d-b2990717cc2b.jpg" width="264" style="max-width:1170px;padding-bottom:0;border:0;height:auto;outline:none;text-decoration:none;vertical-align:bottom" class="m_7870634565031657159mcnImage CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 675.5px; top: 841.922px;"><div id=":243" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Descargar" role="button" tabindex="0" aria-label="Descargar el archivo adjunto " data-tooltip-class="a1V"><div class="aSK J-J5-Ji aYr"></div></div></div>


                            </td>
                        </tr>
                        </tbody></table>

                </td>
            </tr>

            </tbody>
        </table></td>
    </tr>
    <tr>
        <td valign="top" id="m_7870634565031657159templateFooter" style="background:#fafafa none no-repeat center/cover;background-color:#fafafa;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:9px"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_7870634565031657159mcnFollowBlock" style="min-width:100%;border-collapse:collapse">
            <tbody class="m_7870634565031657159mcnFollowBlockOuter">
            <tr>
                <td align="center" valign="top" style="padding:9px" class="m_7870634565031657159mcnFollowBlockInner">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_7870634565031657159mcnFollowContentContainer" style="min-width:100%;border-collapse:collapse">
                        <tbody><tr>
                            <td align="center" style="padding-left:9px;padding-right:9px">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse" class="m_7870634565031657159mcnFollowContent">
                                    <tbody><tr>
                                        <td align="center" valign="top" style="padding-top:9px;padding-right:9px;padding-left:9px">
                                            <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
                                                <tbody><tr>
                                                    <td align="center" valign="top">





                                                        <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;border-collapse:collapse">
                                                            <tbody><tr>
                                                                <td valign="top" style="padding-right:10px;padding-bottom:9px" class="m_7870634565031657159mcnFollowContentItemContainer">
                                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_7870634565031657159mcnFollowContentItem" style="border-collapse:collapse">
                                                                        <tbody><tr>
                                                                            <td align="left" valign="middle" style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px">
                                                                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse:collapse">
                                                                                    <tbody><tr>

                                                                                        <td align="center" valign="middle" width="24" class="m_7870634565031657159mcnFollowIconContent">
                                                                                            <a href="https://www.facebook.com/ClinicaLaCitaMedica/?fref=ts" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=es&amp;q=https://www.facebook.com/ClinicaLaCitaMedica/?fref%3Dts&amp;source=gmail&amp;ust=1476863103346000&amp;usg=AFQjCNHvHTG7Mbcq7znScOoKYwsMGMygaA"><img src="https://ci5.googleusercontent.com/proxy/THEfQ-zOr2AaMLVp_TKYp66Poy4XIPQHLLPvp3JqaDTShBZ9oZafDmhUm7hfcJbSG9vWeV4d9Esrao80PBgUGiMiifS3Dl-CqVUBIY1Qj6oJicgM-Vrdv4BVqtr98zDVKOE=s0-d-e1-ft#https://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-48.png" style="display:block;border:0;height:auto;outline:none;text-decoration:none" height="24" width="24" class="CToWUd"></a>
                                                                                        </td>


                                                                                    </tr>
                                                                                    </tbody></table>
                                                                            </td>
                                                                        </tr>
                                                                        </tbody></table>
                                                                </td>
                                                            </tr>
                                                            </tbody></table>






                                                        <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;border-collapse:collapse">
                                                            <tbody><tr>
                                                                <td valign="top" style="padding-right:0;padding-bottom:9px" class="m_7870634565031657159mcnFollowContentItemContainer">
                                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_7870634565031657159mcnFollowContentItem" style="border-collapse:collapse">
                                                                        <tbody><tr>
                                                                            <td align="left" valign="middle" style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px">
                                                                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse:collapse">
                                                                                    <tbody><tr>

                                                                                        <td align="center" valign="middle" width="24" class="m_7870634565031657159mcnFollowIconContent">
                                                                                            <a href="http://www.clinicalacitamedica.com/" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=es&amp;q=http://www.clinicalacitamedica.com/&amp;source=gmail&amp;ust=1476863103346000&amp;usg=AFQjCNFiFWVv1l4PRrVz1LcvJrmO0otW7A"><img src="https://ci4.googleusercontent.com/proxy/XGenZrmUcdiVbGsrNYCRgHNYNfacIjhuLbFebzTFb_97r7SkYv7ogFxlEPf2hCuN5Kk9p8x-3_ifj6nSGicK0tVj4vtdS4rtGr6b05PDLfKpkMu-ZN-ze73H72HWQg=s0-d-e1-ft#https://cdn-images.mailchimp.com/icons/social-block-v2/color-link-48.png" style="display:block;border:0;height:auto;outline:none;text-decoration:none" height="24" width="24" class="CToWUd"></a>
                                                                                        </td>


                                                                                    </tr>
                                                                                    </tbody></table>
                                                                            </td>
                                                                        </tr>
                                                                        </tbody></table>
                                                                </td>
                                                            </tr>
                                                            </tbody></table>




                                                    </td>
                                                </tr>
                                                </tbody></table>
                                        </td>
                                    </tr>
                                    </tbody></table>
                            </td>
                        </tr>
                        </tbody></table>

                </td>
            </tr>
            </tbody>
        </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_7870634565031657159mcnDividerBlock" style="min-width:100%;border-collapse:collapse;table-layout:fixed!important">
            <tbody class="m_7870634565031657159mcnDividerBlockOuter">
            <tr>
                <td class="m_7870634565031657159mcnDividerBlockInner" style="min-width:100%;padding:10px 18px 25px">
                    <table class="m_7870634565031657159mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-top:2px solid #eeeeee;border-collapse:collapse">
                        <tbody><tr>
                            <td>
                                <span></span>
                            </td>
                        </tr>
                        </tbody></table>

                </td>
            </tr>
            </tbody>
        </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_7870634565031657159mcnTextBlock" style="min-width:100%;border-collapse:collapse">
            <tbody class="m_7870634565031657159mcnTextBlockOuter">
            <tr>
                <td valign="top" class="m_7870634565031657159mcnTextBlockInner" style="padding-top:9px">



                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_7870634565031657159mcnTextContentContainer">
                        <tbody><tr>

                            <td valign="top" class="m_7870634565031657159mcnTextContent" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#656565;font-family:Helvetica;font-size:12px;line-height:150%;text-align:center">

                                <em>Copyright © *CLÍNICA&nbsp;LA CITA&nbsp;MÉDICA, Todo los derechos reservados.</em><br>
                                <br>
                                <strong>Nuestra dirección de correo es:</strong><br>
                                <a href="mailto:support@WPCitythemes.com" style="color:#656565;font-weight:normal;text-decoration:underline" target="_blank">lacitamedica@outlook.es</a>
                            </td>
                        </tr>
                        </tbody></table>



                </td>
            </tr>
            </tbody>
        </table></td>
    </tr>
    </tbody></table>